<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">


    <link rel="stylesheet" th:href="@{/css/bootstrap/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/css/login.css}" />

    <script th:src="@{/js/bootstrap/bootstrap.bundle.min.js}"></script>

    <script th:src="@{/jq/jquery-3.6.0.min.js}"></script>


    <title th:text="#{mainpage.title}">Main</title>
</head>
<header th:replace="fragments/common_fragments::common-header">Header</header>
<body>

</body>

<footer th:replace="fragments/common_fragments::common-footer">Footer</footer>
</html>