<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Customer Accounts</title>
    <link rel="stylesheet" th:href="@{/css/account-table.css}">
</head>
<header th:replace="fragments/common_fragments::common-header">Header</header>
<body>
        <div>
            <table>
                    <h3 th:text="#{account.info.title}">Account Information</h3>
                <tr>
                    <th th:text="#{account.info.customerID}">Customer ID :</th>
                    <td th:text="${account.customerId()}">ID</td>
                </tr>
                <tr>
                    <th th:text="#{account.info.customerFullName}">Customer Full Name :</th>
                    <td th:text="${account.customerName()} + ' ' + ${account.customerSurname()}">ID</td>
                </tr>
                <tr>
                    <th th:text="#{account.info.ID}">Account ID :</th>
                    <td th:text="${account.ID()}">Account ID</td>
                </tr>
                <tr>
                    <th th:text="#{account.info.branchCode}">Branch Code :</th>
                    <td th:text="${account.branchCode()}"> Branch Code</td>
                </tr>
                <tr>
                    <th th:text="#{account.info.balance}">Balance :</th>
                    <td th:text="${account.balance()}  + ' ' + ${account.currency()} ">Balance-Currency</td>
                </tr>
            </table>
        </div>

</body>
<footer th:replace="fragments/common_fragments::common-footer">Footer</footer>
</html>