<component name="ArtifactManager">
  <artifact type="war" name="springBank:war">
    <output-path>$PROJECT_DIR$/springBank/target</output-path>
    <properties id="maven-jee-properties">
      <options>
        <module>springBank</module>
        <packaging>war</packaging>
      </options>
    </properties>
    <root id="archive" name="springBank-0.0.1-SNAPSHOT.war">
      <element id="artifact" artifact-name="springBank:war exploded" />
    </root>
  </artifact>
</component>