header{
    padding-bottom:0px;
    outline: #a10e8e inset 2px;
    background: rgb(240,187,98);
    background: radial-gradient(circle, rgba(240,187,98,1) 5%, rgba(158,166,93,1) 38%, rgba(244,238,169,1) 70%, rgba(6,70,53,1) 99%);
}
.header-title{
    font-family: 'Brush Script MT', cursive;
    font-size: xxx-large;
    text-align: center;
    padding: 20px;
    margin: 5px;
    color: #3a2e0e;
}
.header-background {
    background: radial-gradient(circle, rgba(240,187,98,1) 5%, rgba(158,166,93,1) 38%, rgba(244,238,169,1) 70%, rgba(6,70,53,1) 99%);
    outline: #a10e8e inset 2px;

}
.header-nav-background{
    background: radial-gradient(circle, rgba(240,187,98,1) 5%, rgba(158,166,93,1) 38%, rgba(244,238,169,1) 70%, rgba(6,70,53,1) 99%); !important;
    color: rgb(109, 224, 194) !important;
}
nav{
    margin: 0px;
    padding: 0px;
}
a{
    color: #3a2e0e;
}
